.media-input{
  .ant-input-group-addon:first-child i{
    cursor: pointer;
  }
  .ant-input-group-addon:nth-of-type(2){
    padding:0;
    border:none;
    button{
      line-height: 100%;
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
    }
  }
}
